
  <img class="search-card-image" src="{{cover-image}}"></img>	
  <p class="search-card-desc"><h3>{{name}}<h3><h4>{{description}}</h4></p>
  <div class="search-card-hosts">{{hosts}}</div>
  <div class="search-card-status">{{price}}</div>
  <div class="search-card-social"></div>
